.navbar{
    height: 10rem;
    background-color: #473144;
}

.title {
    padding: 2rem 0 0 5rem;
    color: white
}


@media (max-width: 650px) {
    .navbar{
        height: 13rem;
    }

    .title{
        padding: 2rem 0 0 5rem;
    }
}
